<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.globalgates.mapper.RagDocumentMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_rag_document (file_id, document_name, document_status, rag_status, uploaded_by, last_error)
        values (#{fileId}, #{documentName}, #{documentStatus}, #{ragStatus}, #{uploadedBy}, #{lastError})
    </insert>

    <update id="updateRagStatus">
        update tbl_rag_document
        set rag_status = #{ragStatus},
            last_error = #{lastError},
            updated_at = current_timestamp
        where id = #{id}
    </update>
</mapper>
